%h2
  = @news_item.title + " (Редагування)"
= form_for @news_item, :as => :news, :url => admins_news_url(@news_item), :html => { :multipart => true } do |form| 
  = render :partial => 'form', :locals => {:form => form}
= link_to 'Назад', admins_news_index_url