%h2
  #{@sacred_object.title} (редагування)
= form_for [:admins, @sacred_object], :html => { :multipart => true } do |form| 
  = render :partial => 'form', :locals => {:form => form, :item => @sacred_object}
= link_to 'Назад', admins_sacred_objects_url
