.grid_9.alpha.omega.top_news
  .grid_9.alpha.omega.inner
    .grid_7.alpha
      = image_tag '/images/proscha.png', :width => 540, :height => 333
    .grid_2.omega
      %br/
      %span.yellow
        ПРОГРАМА
      %br/
      = link_to 'КОРОТКИЙ ЗМІСТ', '#', :class => 'more'
      %br/
      %br/
      %span.yellow
        25 травня 10:00
      %br/
      Виїзд з м. Київ
      %br/
      %br/
      %span.yellow
        27 травня 22:30
      %br/
      Приїзд в с. Зарваниця
      %br/
      %br/
      %span.yellow
        27 травня 23:00
      %br/
      Вечірня молитва та підготовка до сну
      %br/
      %br/
      = link_to 'БІЛЬШЕ ІНФОРМАЦІЇ', '#', :class => 'more'