.grid_9.alpha.omega
  .grid_1.alpha
    &nbsp;
  .grid_8.omega
    %h2.news_title
      = link_to tour.title, tour
  .clear
  .grid_1.alpha
    &nbsp;
  .grid_8.omega.news_body
    = Sanitize.clean(tour.body).truncate(200)