.grid_9.alpha.omega.margin_top_30
  .grid_1.alpha
    &nbsp;
  .grid_8.omega
    %h1.news_title
      = @tour.title
  .clear
  .grid_1.alpha
    &nbsp;
  .grid_8.omega.news_body
    = @tour.body.html_safe
  .clear