.grid_3.alpha.contacts
  .home_ico
  .address
    Кіїв Україна 00101
    %br/
    вул. Михайлівська 19 /3
  .email_ico
  %div
    = link_to 'info@ppc.org.ua', 'mailto:info@ppc.org.ua', :class => 'email'

.pilgrimage_places
  .pilgrimage_header
    МІСЦЯ ПАЛОМНИЦТВ
  .pilgrimage_map
    = image_tag '/images/pilgrimage_map.png', :width => 342, :height => 285
.calendar
  .calendar_header
    КАЛЕНДАР ПОДІЙ / ТРАВЕНЬ 2010
  .calendar_body
    = image_tag '/images/calendar.png', :width => 346, :height => 285